@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Pangolin, sans-serif;
    font-size  : 20px;
}

.nav::before {
    content         : '';
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-image: linear-gradient(151deg, rgba(2, 0, 36, 0.7) 0%, rgba(76, 76, 222, 0.6) 3%, rgba(0, 212, 255, 0.4) 100%), url(img/bg.jpg);
    background-size : cover;
    z-index         : -1;
}

h1 {
    text-align: center;
}

.container {
    max-width       : 600px;
    display         : block;
    margin          : 0 auto;
    background-color: rgb(7, 9, 68);
    padding         : 20px 40px;
    border-radius   : 5px;
    color           : #eaeaea;
    display         : block;
    margin-bottom   : 10px;
}

input,
textarea {
    font-size    : inherit;
    margin-top   : 10px;
    height       : 40px;
    width        : 100%;
    border-radius: 5px;
    border       : 0;
    padding      : 10px;
    font-family  : inherit;
    margin-bottom: 10px;
}

textarea {
    height: 150px;
}

button {
    margin-top   : 10px;
    height       : 40px;
    width        : 100%;
    border-radius: 5px;
    background   : #13d8b4;
}

@media (max-width: 770px){
    
}